@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* common utiliteis or styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
h1,h3,h4{
    color: #363958;
    font-weight: bold;
}
h1,h3{
    font-family: 'Bebas Neue', cursive;
}
p{
    color: #3E3E3E;
}
/* start navbar section */
nav ul li{
    color: #3C3C3C;
    font: 16px;
    margin-left: 57px;
}
 .navbar-toggler{
    font-size: 18px;
} 
/* start nike reat section */

.custom-text-warning{
    color: #FA804C;;
}
.custom-w-h{
    width: 357px;
    height: 304px;
}
/* start casual shoes section */
.custom-bg-secondary{
    background: rgba(235, 232, 232, 0.925);
    filter: drop-shadow(0px 30px 10px rgba(0, 0, 0, 0.15));
} 

