@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* common utiliteis or styles */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
}
.custom-h1{
    font-size: 5rem;
}
h1,h3,h4{
    color: #363958;
    font-weight: bold;
}
h1,h3{
    font-family: 'Bebas Neue', cursive;
}
p{
    color: #3E3E3E;
}
.border-rounded-shadow{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
/* start header section */
header{
    background-color:#FFF9F4;
}
/* start navbar section */
nav ul li{
    color: #3C3C3C;
    font: 16px;
    margin-left: 57px;
}
 .navbar-toggler{
    font-size: 18px;
} 
/* start nike reat section */

.custom-text-warning{
    color: #FA804C;
}

/* start casual show section */
.custom-bg-rounded{
    background: rgb(238, 236, 236);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}
/* start footer section */
footer{
    margin: 150px 0px;
}
.custom-w-100{
    width: 90%;
}

